<h2 mat-dialog-title>My Bucket List</h2>
<mat-dialog-content class="mat-typography" [ngStyle]="{minWidth : '500px'}">

  <li [ngStyle]="{minWidth : '500px'}" *ngFor="let item of itemArray" class="list-group-item">
    <div class=" d-flex flex-row">
      <div class="col-10">
        {{ item.items }}
      </div>
      <div class="col-md-1">
        <button (click)="onDelete(item.items)" class="btn btn-outline-danger btn-sm"  style="margin-right: 10px ; align-self: end">Delete</button>
      </div>
    </div>
  </li>

  <div class="col-md-6" id="calculator">
    <form (ngSubmit)="onAdd()">
      <div class="mb-3" >
        <label for="bucketList" class="form-label" >Add Bucket List</label>
        <div class="input-group" >
          <input type="text" min="0" class="form-control" name="bucketList" id="bucketList" placeholder="Item Name" [formControl]="bucketList" required>
        </div>
        <!-- form validation-->
        <div *ngIf="bucketList.invalid && (bucketList.dirty || bucketList.touched)" class="badge bg-secondary">
          <span *ngIf="bucketList.errors">Please insert a valid item name.</span>
        </div>
      </div>
      <app-sbutton displayValue='Add Item' (clickEvent)="onAdd()"></app-sbutton>
    </form>
  </div>

</mat-dialog-content>





<mat-dialog-actions align="end">
  <span *ngIf="!newAccount" style="margin-right: 20px">
    <button class="btn btn-outline-danger" [mat-dialog-close]="true" (click)="onDeleteSelfBucketList()">Delete Bucket</button>
  </span>
  <span style="margin-right: 20px">
    <button class="btn btn-primary"  (click)="onUpdate()"> {{newAccount ? "Create" : "Update"}}</button>
  </span>
  <span>
      <button class="btn btn-primary-outline" [mat-dialog-close]="true"  >Close</button>
  </span>
</mat-dialog-actions>

