.submit_button{
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  line-height: 3;
  border: none;
  background-color: #1e3268;
  color: #fff;
  box-shadow: -.25rem -.25rem 0 0 #00b2eb;
  transition: background-color .2s ease,transform .24s cubic-bezier(.175,.885,.32,1.275),box-shadow .24s cubic-bezier(.175,.885,.32,1.275);
}

.submit_button:hover{
  border: none;
  background-color: #1e3268;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  box-shadow: 0 0 0 0;
  transform: translate(-.25rem,-.25rem);
  transform-style: preserve-3d;
  transition: background-color .2s ease,transform .24s cubic-bezier(.175,.885,.32,1.275),box-shadow .24s cubic-bezier(.175,.885,.32,1.275);
}
