.container-fluid {
  overflow: hidden;
  margin-top: 50px;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 10px;
  padding: 30px 30px 50px;
}

.bold-text {
  color: #989c9e !important
}

.rights {
  font-size: 12px;
}

h3{
  font-size: 50px;
}
a{
  color: grey;
}

a:hover {
  color: lightgray;
}

img{
  padding-right: 10px;
  padding-bottom: 10px;
}

img:hover{
  padding-right: 10px;
  padding-bottom: 10px;
  transform: translate(-.25rem,-.25rem);
  transition: background-color .2s ease,transform .24s cubic-bezier(.175,.885,.32,1.275),box-shadow .24s cubic-bezier(.175,.885,.32,1.275);
}
