<div class="container-fluid justify-content-center text-light ">
  <footer>
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="row">
          <div class="col-8 align-self-end mt-3">
            <h3 class="text-muted mb-md-0 mb-5 bold-text">Portfolio J.</h3>
            <div class="col-8 align-self-end mt-4">
             <small class="rights"><span>&#174;</span>All Rights Reserved.</small>
            </div>
          </div>

          <div class="col-4 align-self-end mt-3">
            <a href="https://angular.io/" target="_blank" rel="noopener noreferrer">
              <img src="https://img.icons8.com/color/48/000000/angularjs.png" alt="AngularJS icon by Icons8"/>
            </a>
            <h6 class="mt-20 mt-2 text-muted bold-text"><b>Back to Main Page</b></h6>
            <a href="https://www.connectjinwei.codes" target="_blank" rel="noopener noreferrer"><small>Connectjinwei.codes</small></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
