<div class="d-flex flex-row-reverse" style="background-color: #14305a;">
  <nav class="navbar navbar-expand-lg navbar-light flex-row-reverse" style="background-color: #14305a;">
    <button class="navbar-toggler" type="button" style="margin-right: 10px" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav flex-row-reverse" style="margin-top: 10px">
        <li class="nav-item">
<!--          <app-login></app-login>-->
        </li>
      </ul>
    </div>
  </nav>
</div>





