<div class="topBg">
<!--  for testing -->
  <app-login></app-login>

    <div style="background-image: url('../../../assets/wave-haikei.svg'); background-position: bottom" class="jumbotron bg-cover">
      <div class="container py-5 text-left text-white">
        <h1 class="display-4 font-weight-bold text-center">Body Mass Index (BMI) Calculator</h1>
        <p class="font-italic mb-0 text-center">Find out with this body mass index calculator.</p> <br>
      </div>
    </div>

    <!--    start calculator-->
    <div class=" d-flex flex-column align-items-center cal">
      <div class="col-md-6" id="calculator">

        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="weight" class="form-label" >Weight</label>
            <div class="input-group" >
              <input type="number" min="0" class="form-control" name="weight" id="weight" placeholder="Your weight" [formControl]="weight" required>
              <div class="input-group-text">{{weightMetric}}</div>
            </div>
            <!-- form validation-->
            <div *ngIf="weight.invalid && (weight.dirty || weight.touched)" class="badge bg-secondary">
              <span *ngIf="weight.errors">Weight must be number between 1-1000.</span>
            </div>
          </div>

          <div class="mb-3">
            <label for="height" class="form-label" >Height</label>
            <div class="input-group" >
              <input type="number" min="0" class="form-control" name="height" id="height" placeholder="Your height" [formControl]="height" required>
              <div class="input-group-text">{{heightMetric}}</div>
            </div>
            <!--form validation-->
            <div *ngIf="height.invalid && (height.dirty || height.touched)" class="badge bg-secondary">
              <span *ngIf="height.errors">Height must be number between 1-1000.</span>
            </div>
          </div>

          <app-sbutton displayValue='Calculate' (clickEvent)="onSubmit()"></app-sbutton>
          <input type="button" class="btn" (click)="reset()"  value="Reset">
        </form>

        <!-- result-->
        <div id="result" [class.active]="tab">
          <div *ngIf="calculate">
            <hr class="solid">
            <div  id="resultContent" [class.active]="tab" >
              <h1>Result</h1>
              <h2>{{result}} kg/m2</h2>
              <h6 [style.color]="resultColor">{{resultLabel}}</h6>
              <div id="save-btn">
                <button
                  mat-raised-button
                  color="accent"
                  matTooltip="Please log in to save"
                  matTooltipPosition="right"
                  [matTooltipDisabled]="isLoggedIn"
                  aria-label="Save button"
                  (click)="saveRecord()">
                  Save
                </button>
              </div>

            </div>
          </div>
        </div>
        <!-- end result-->
    </div>
    <!--end calculator-->

    </div>
</div>





<div class="container d-flex flex-column align-items-center">
  <div class="col-10">
    <app-calculator-description></app-calculator-description>
    <label>*According to <a target="_blank" class="link-secondary text-decoration-none" href="https://www.cdc.gov/">Centers for Disease Control and Prevention (CDC)</a> </label>
  </div>
</div>



