<div class="topBg">

    <div style="background-image: url('../../../assets/wave-haikei.svg'); background-position: bottom" class="jumbotron bg-cover">
      <div class="container py-5 text-left text-white">
        <h1 class="display-4 font-weight-bold text-center">Bucket List</h1>
        <p class="font-italic mb-0 text-center">Add and delete your bucket list.</p> <br>
      </div>
    </div>

    <!--    start calculator-->
    <div class=" d-flex flex-column align-items-center cal">
      <div class="col-md-6" id="calculator">

        <form (ngSubmit)="onSubmit()">

<!--          email address-->
          <div class="mb-3">
            <label for="email" class="form-label" >Your email</label>
            <div class="input-group" >
              <input type="text" min="0" class="form-control" name="email" id="email" placeholder="Your email" [formControl]="email" required>
            </div>
            <!-- form validation-->
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="badge bg-secondary">
              <span *ngIf="email.errors">Please insert a valid email.</span>
            </div>
          </div>

<!--          bucket list-->
<!--          <div class="mb-3" >-->
<!--            <label for="bucketList" class="form-label" >Add Bucket List</label>-->
<!--            <div class="input-group" >-->
<!--              <input type="text" min="0" class="form-control" name="bucketList" id="bucketList" placeholder="Item Name" [formControl]="bucketList" required>-->
<!--            </div>-->
<!--            &lt;!&ndash; form validation&ndash;&gt;-->
<!--            <div *ngIf="bucketList.invalid && (bucketList.dirty || bucketList.touched)" class="badge bg-secondary">-->
<!--              <span *ngIf="bucketList.errors">Please insert a valid item name.</span>-->
<!--            </div>-->
<!--          </div>-->


<!--          <app-sbutton displayValue='Add Item' (clickEvent)="onSubmit()"></app-sbutton>-->
          <app-sbutton displayValue='Check record' (clickEvent)="checkRecordButton()"></app-sbutton>
          <input type="button" class="btn" (click)="reset()"  value="Reset">
        </form>

        <!-- result-->
        <div id="result" [class.active]="tab">
          <div *ngIf="calculate">
            <hr class="solid">
            <div  id="resultContent" [class.active]="tab" >
              <h1>Your Records</h1>


              <table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th>My Bucket List</th>
                </tr>
                </thead>
                <tbody>
<!--                <tr *ngFor="let data of selfData">-->
<!--                  <td>{{data.items}}</td>-->
<!--                </tr>-->
                </tbody>
              </table>


<!--              <div id="save-btn">-->
<!--                <button-->
<!--                  mat-raised-button-->
<!--                  color="accent"-->
<!--                  matTooltip="Please log in to save"-->
<!--                  matTooltipPosition="right"-->
<!--                  [matTooltipDisabled]="isLoggedIn"-->
<!--                  aria-label="Save button"-->
<!--                  (click)="saveRecord()">-->
<!--                  Save-->
<!--                </button>-->
              </div>

            </div>
          </div>
        </div>
        <!-- end result-->
    </div>
    <!--end calculator-->

    </div>
<!--</div>-->





<div class="container d-flex flex-column align-items-center">
  <div class="col-10">
    <app-sbutton displayValue='Refresh All Records' (clickEvent)="getAllRecords()"></app-sbutton>

    <div>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Bucket List</th>
        </tr>
        </thead>
        <tbody *ngFor="let data of datas">
        <tr>
          <td>{{data.id}}</td>
          <td>{{data.email}}</td>
          <td>
          <div *ngFor="let key of data.bucketItems">
            - {{ key.items }}
          </div>
          </td>

        </tr>
        </tbody>
      </table>
    </div>



<!--    <app-calculator-description></app-calculator-description>-->
  </div>
  <label>*Data from <a target="_blank" class="link-secondary text-decoration-none" href="http://onboardme-beta.celcom.com.my/api">http://onboardme-beta.celcom.com.my/api</a> </label>

</div>



