.btn{
  margin-right: 10px;
}

#calculator{
  background-color: white;
  padding:30px;
  //border-color: gray;
  //border-style: solid;
  //border-width: 0px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#result{
  margin-top: 20px;
  margin-bottom: 20px;
}
