<div class="col-md-6 description">
  <h2 class="title">Understanding your BMI result</h2>
  <h4 class="subtitle">Underweight</h4>
  <p class="font-italic mb-0">Being underweight could be a sign you're not eating enough or you may be ill. If you're underweight, a GP can help.</p>
  <br>
  <h4 class="subtitle">Healthy weight</h4>
  <p class="font-italic mb-0">Keep up the good work! For tips on maintaining a healthy weight, check out the food and diet and fitness sections.</p>
  <br>
  <h4 class="subtitle">Overweight</h4>
  <p class="font-italic mb-0">The best way to lose weight if you're overweight is through a combination of diet and exercise.</p>
  <br>
  <h4 class="subtitle">Obese</h4>
  <p class="font-italic mb-0">The best way to lose weight if you're obese is through a combination of diet and exercise, and, in some cases, medicines. See a GP for help and advice.</p>
</div>
