.title{
  margin-bottom: 10px;
}

.subtitle{
  margin-bottom: 5px;
}

.description{
  padding-top: 10px;
  padding-bottom: 10px;
}

.content{
  margin-bottom: 40px;
  margin-top: 30px;
}

.mat-expansion-panel , .mat-expansion-panel-header , .mat-expansion-panel-header-title{
  background-color: white;
  color: black;
}
