
<!--for testing only -->
<app-login></app-login>


<div class="description">
  <div class="col-10" [ngStyle]="{marginBottom: '10px' , marginTop:'10px'}">
    <h2 class="title">What is your BMI ratio?</h2>
    <p class="font-italic mb-0">This BMI calculator helps you determine your body mass index (BMI) is a calculation made by comparing a person's weight and height to estimate if an individual's weight falls within a healthy range. Though it does not actually measure the percentage of body fat, it is a useful tool in providing a rough guide for desired body weight based on your height.</p>
  </div>

  <div class="content">
    <h4 class="title">Understand your BMI result</h4>
    <p>For adults 20 years old and older, BMI is interpreted using standard weight status categories. These categories are the same for men and women of all body types and ages.</p>

    <mat-accordion multi [ngStyle]="{color: 'white'}">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Underweight
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Being underweight could be a sign you're not eating enough or you may be ill. If you're underweight, a GP can help.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Healthy weight
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Keep up the good work! For tips on maintaining a healthy weight, check out the food and diet and fitness sections.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Overweight
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>The best way to lose weight if you're overweight is through a combination of diet and exercise.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Obesity
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>The best way to lose weight if you're obese is through a combination of diet and exercise, and, in some cases, medicines. See a GP for help and advice.</p>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

  <div class="content">
    <h4 class="title">What are the health consequences of obesity for adults?</h4>
    <p>People who have obesity are at increased risk for many diseases and health conditions, including the following:</p>
    <ul>
      <li *ngFor="let health of healthEffect ">
        <span>{{health}}</span>
      </li>
    </ul>
  </div>

</div>
