.btn{
  margin-right: 10px;
}

.bg-cover {
  background-size: cover !important;
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: -1;
}

.topBg{
  width: 100%;
  height: 100%;
  position: relative;
}

.cal{
  width: 100%;
  padding-top: 200px;
  //position: absolute;
}
#calculator{
  background-color: white;
  padding:30px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 6px 6px 30px grey;
}

#result{
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 0;
  transition: max-height 0.5s ease-in;
}

@keyframes mymove {
  from {opacity: 0;}
  to {opacity:100;}
}

#result.active{
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 180px;
}

#resultContent.active{
  animation-delay: 2s;
  animation: mymove 2s;
  position: relative;
}

#save-btn{
  margin-top: 10px;
  margin-bottom: 20px;
}

